server:
  port: 1031

spring:
  profiles:
    active: kafka  # ¥¯…œKafka≈‰÷√
  application:
    name: service-zuul
#  security:
#    user:
#      name: admin
#      password: admin
#      roles: ACTUATOR_ADMIN

myeureka:
  server:
    localhost
  port:
    8761

eureka:
  instance:
    preferIpAddress: true
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://${myeureka.server}:${myeureka.port}/eureka/
    register-with-eureka: true
    fetch-registry: true

zuul:
  routes:
    cunsumer:
      serviceId: api
      path: /v1/api/**
  ignored-services: "*"

  ratelimit:
    enabled: true
    repository: IN_MEMORY
    policies:
      cunsumer:
        limit: 100
        quota: 1000
        refresh-interval: 60
        type:
        - ORIGIN
    retryable: true

ribbon:
  MaxAutoRetries: 2
  MaxAutoRetriesNextServer: 0

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

info:
  app.name: heathy-server-zuul
  description: zuul-router

white:
  list: /user/login,/user/no/login,/log/save,/druid/**,/*.ico,/log/by/id/**,/actuator/**,/img/**,/common/file/**,/user/admin/login,/hystrix.stream